.about-block {
    margin: 11.5rem 0;
    border: 2px dashed var(--red);
    border-radius: var(--border-radius-lg);
    padding: 14rem 0;
    &--no-border {
        border: none;
        margin: 0;
    }
    &__container {
        width: 100%;
        max-width: 1400px;
        padding: 0 20px;
        margin: 0 auto;
    }
    &__descr {
        width: calc(100% - 63rem);
        &__logo {
            width: 100%;
            max-width: 53rem;
            margin-bottom: 8rem;
            img {
                width: 100%;
            }
        }
        &__text {
            font-size: 2rem;
            margin-bottom: 8rem;
            font-weight: 300;
            p {
                font-size: 2rem;
                margin-bottom: 2.2em;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__img {
        width: 50rem;
        img {
            max-width: none;
            width: 100%;
        }
    }
}