.advertise-block {
    background: #AD182E url('../img/adv_desctop.jpeg') 100% 0 no-repeat;
    background-size: cover;
    padding: 10rem 0;
    color: #fff;
    height: 98rem;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .h1 {
        font-size: 9.6rem;
    }
    &__top {
        display: flex;
        &__notice {
            font-size: 1.4rem;
            line-height: 155%;
            font-weight: 300;
            width: 25.3rem;
            padding: 3.5614em 2.2em;
            border: 1px dashed currentColor;
            border-radius: var(--border-radius-lg);
            text-align: center;
            text-transform: uppercase;
            margin-left: 5vw;
            margin-top: 1.7vw;
            span {
                text-decoration: underline;
                display: block;
            }
        }
    }
    &__hash {
        border-bottom: 5px solid currentColor;
        white-space: nowrap;
        line-height: 1.1;
        font-weight: 300;
    }
}