.badge {
    display: inline-flex;
    align-items: flex-start;
    font-weight: 300;
    border-radius: 5px;
    line-height: 1;
    padding: 1rem;
    border-radius: 9px;
    font-size: 1.4rem;
    &--lg {
        font-size: 2rem;
        text-transform: uppercase;
        padding: .5em 1em;
    }
    &--black {
        background-color: #000;
        color: #fff;
    }
    &--white {
        background-color: #fff;
        color: #000;
    }
    &--outline {
        border: 1px solid currentColor;
        background-color: transparent;
        color: currentColor;
    }
    &--grey {
        background-color: var(--light-grey);
        color: #000;
    }
    &--white.red {
        color: var(--red);
    }
    sup {
        font-size: 0.45em;
        line-height: 1;
        margin-left: 3px;
    }
}