.banner-block {
    width: 100%;
    &__item {
        width: 33.3333%;
        height: 35rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.2;
        color: #fff;
        &--black {
            background-color: #212121;
        }
        &--orange {
            background-color:#F3773F;
        }
        &--red {
            background-color: #B0192E;
        }
    }
}