.blog-block {
  padding: 12rem 0;
  .block-top {
    margin-bottom: 9rem;
  }
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  li {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    height: 45.7rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    &:hover {
        box-shadow: 0 15px 20px rgba(#000, .14);
        transform: translateY(-3px);
    }
    &--dark {
        color: #fff;
        text-shadow: 1px 1px rgba($color: #000000, $alpha: .3);
    }
    &__content {
        padding: 0 1rem 3rem;
        font-weight: 300;
      & > span {
        display: block;
      }
      .h3 {
        margin-bottom: 1em;
      }
      .text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
