.breadcrumbs {
    &-block {
        background-color: #FBFBFB;
        padding: 2.3rem 0;
    }

    font-size: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
        &:not(:last-child) {
            padding-right: 1.7em;
            margin-right: 1.3em;
            position: relative;
            &::after {
                content: '';
                width: 10px;
                height: 5px;
                background: url('../img/icons/arrow_right_orange.svg') 0 0 no-repeat;
                background-size: contain;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
            a {
                &:hover {
                    color: var(--red)
                }
            }
        }
        &:last-child {
            a {
                pointer-events: none;
            }
        }
    }
}
.back-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    &:hover {
        opacity: 0.6;
    }
    &__icon {
        margin-right: 0.6em;
    }
}