.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    line-height: 215%;
    padding: 1em 1.4em;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    transition: all .3s;
    &--red {
        background-color: var(--red);
        color: #fff;
        &:hover {
            background-color: darken(#B0192E, 10%);
        }
        &:active {
            background-color: darken(#B0192E, 5%);
        }
    }
    &--grey {
        background-color: var(--light-grey);
        color: #000;
        &:hover {
            background-color: darken(#fbfbfb, 10%);
        }
        &:active {
            background-color: darken(#fbfbfb, 5%);
        }
    }
    &--white {
        color: #fff;
    }
    &--outline {
        background-color: transparent;
        border: 1px solid currentColor;
        &:hover {
            opacity: 0.8;
        }
    }
    &--medium-width {
        min-width: 14.2857em;
    }
    &--full-width{
        width: 100%;
    }
}