.cart-block {
    &-wrapper {
        align-items: flex-start;
    }
    &__content {
        flex-grow: 1;
        padding-right: 10vw;
        &__item {
            padding-bottom: 3rem;
            margin-bottom: 3rem;
            &:not(:last-child) {
                border-bottom:  var(--border);
            }
            .counter__btn {
                width: 43px;
                height: 43px;
            }
            .counter__input {
                height: 43px;
                font-size: 22px;
            }
        }
        &__item__img {
            width: 20rem;
            height: 20rem;
            margin-right: 3.5rem;
            flex: none;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: top;
            }
        }
        &__item__body {
            .item__product__descr{
                font-size: 2rem;
                width: 60%;
            }
            &__descr {
                margin-bottom: 2rem;
            }
            &__data__left {
                width: 60%;
                justify-content: space-between;
            }
        }
    }
    &__sidebar {
        flex: none;
        width: 53rem;
        background-color: var(--light-grey);
        border-radius: var(--border-radius-lg);
        padding: 3vw;
        position: sticky;
        top: 0;
        &__count {
            border-bottom: var(--border);
            padding-bottom: 1.3rem;
            margin-bottom: 1.3rem;
        };
        &__row {
            padding-bottom: 2rem;
            margin: 2rem 0;
            border-bottom: var(--border);
            &__title {
                margin-bottom: 0.6em;
            }
        }
    }
}
.promocode {
    margin-bottom: 2rem;
    &__title {
        margin-bottom: 0.6em;
    }
}
.body__data__left__price {
    .badge {
        margin-top: 10px;
    }
}
.cart-form-block {
    padding: 8rem 4vw;
    background-color: var(--light-grey);
    border-radius: var(--border-radius-lg);
    margin: 8rem 0 10rem;
}
.cart-form {
    width: 100%;
    max-width: 670px;
    &__item {
        margin-bottom: 30px;
        &__title {
            border-bottom: var(--border);
            padding-bottom: 0.75em;
            margin-bottom: 1em;
        }
        .checkbox {
            margin-bottom: 2rem;
        }
        textarea.input {
            height: 225px;
            margin-bottom: 30px;
        }
    }
    .btn {
        width: 100%;
    }
}