.catalog-page__descr {
    background-color: #000;
    color: #fff;
    padding: 12rem 0;
    &__left {
        width: 50%;
        &__logo {
            width: 10rem;
            flex: none;
            margin-right: 4rem;
            img {
                width: 100%;
            }
        }
        p{
            font-size: 2rem;
            line-height: 155%;
            font-weight: 300;
            &:not(:last-child) {
                margin-bottom: 2em;
            }
        }
    }
    &__img {
        width: 42%;
        img {
            width: 100%;
        }
    }
}