.catalog-slider-wrapper {
    position: relative;
    color: #fff;
    &.light-theme {
        color: #000;
        .btn--white {
            color: currentColor
        }
    }
    &__bottom {
        position: absolute;
        bottom: 4vh;
        left: 0;
        width: 100%;
    }
}
.catalog-slider {
    height: 100vh;
    .slick-list,
    .slick-track {
        height: 100%;
    }
}
.catalog-slide {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 12.6rem 0;
}
.catalog-slider__arrows {
    display: flex;
    position: relative;
    &::before {
        content: '';
        height: 1px;
        background-color: currentColor;
        width: calc(100% - ((6.7rem * 2) + 6rem));
        position: absolute;
        right: 0;
        top: 50%;
        opacity: 0.3;
    }
    .slick-arrow {
        width: 6.7rem;
        height: 6.7rem;
        border-radius: 50%;
        border: 1px solid currentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            opacity: 0.7;
        }

        &:last-child {
            margin-left: 1.5rem;
        }
    }
}
.catalog-slider__description {
    &__slide {
        padding-left: calc((6.7rem * 2) + 6rem);
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.54;
        color: currentColor
    }
}
.catalog-slide__body__preview {
    display: flex;
    justify-content: flex-end;
    color: #000;
    &__item {
        background-color: var(--grey-bg);
        border-radius: var(--border-radius-lg);
        padding: 1.5rem;
        min-width: 39rem;
        box-shadow: 1px 5px 15px rgba($color: #000000, $alpha: .14);
    }
}
.preview__item__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3.4rem;
    &__img {
        height: 35rem;
        padding: 0 1em;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__more {
        display: flex;
        flex-direction: column;
        position: relative;
        color: #000;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 300;
        padding: 1em 1.1em 9px;
        background-color: #fff;
        border-radius: 17px;
        margin-bottom: 1em;
        &__icon {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5em;
            flex: none;
            width: 1.5em;
            height: 1.5em;
            background: url('../img/icons/arrow_up_45deg.svg') center no-repeat;
            background-size: contain;
            align-self: flex-end;
            transition: all .3s;
        }
        &:hover {
            color: var(--red);
            .preview__item__main__more__icon {
                transform: rotate(-45deg);
            }
        }
    }
}
.preview__item__bottom {
    padding: 0 2.5rem;
    &__title {
        padding-right: 1em;
        line-height: 155%;
    }
}
.link {
    &:hover {
        color: var(--red)
    }
}