.office-list {
    display: flex; 
    flex-wrap: wrap;
    margin: 0 -2rem;
    li {
        width: 20%;
        padding: 0 2rem;
        margin-bottom: 4rem;
    }
}
.office-list__item {
    &__title {
        font-weight: 300;
        margin-bottom: 2em;
        position: relative;
        display: inline-block;
        padding-bottom: 0.2em;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: var(--red);
            position: absolute;
            left: 0;
            top: 100%;
        }
    }
    &__row {
        display: flex;
        align-items: flex-start;
        font-size: 1.6rem;
        margin-bottom: 3rem;
        &__icon {
            width: 20px;
            height: 20px;
            flex: none;
            margin-right: 1em;
        }
        &__descr {
            &__title {
                font-weight: 700;
                margin-bottom: 5px;
            }
            &__body {
                font-weight: 300;
                line-height: 148%;
                a {
                    &:hover {
                        color: var(--red);
                    }
                }
            }
        }
    }
}
.manager {
    align-items: flex-end;
    padding-top: 5rem;
    border-top: var(--border);
    margin: 0 -2rem;
    &__item {
        width: 25%;
        padding: 0 2rem;
        margin-bottom: 4rem;
        &--lg {
            width: 50%;
        }
        &__block {
            border: 1px dashed var(--red);
            border-radius: var(--border-radius-lg);
            display: flex;
            align-items: center;
            padding: 3rem;
            &__avatar {
                width: 10rem;
                height: 10rem;
                margin-right: 2vw;
                flex: none;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
            &__data {
                &__name {
                    margin-bottom: 2rem;
                }
            }
            .office-list__item__row {
                &:not(:last-child) {
                    margin-right: 1.4vw;
                }
                margin-bottom: 0;
            }
        }
        &__title {
            margin-bottom: .5em;
        }
    }
}
.map {
    padding: 50px 0;
    &__img {
        width: 100%;
    }
}