.counter {
    display: flex;
    &__btn {
        width: 31px;
        height: 31px;
        flex: none;
        background-color: var(--white-darken);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border-radius: 7px;
        &:hover {
            background-color: darken(#F6F6F6, 5%);
        }
        &:active {
            background-color: darken(#F6F6F6, 10%);
        }
    }
    &__input {
        width: 33px;
        height: 31px;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        border: none;
        outline: none;
        appearance: none;
        margin: 0 3px;
    }
}