.faq__container__column {
  width: calc(50% - 12px);
}
.faq__item {
  width: 100%;
  margin-bottom: 24px;
  border: 1px dashed var(--orange);
  border-radius: var(--border-radius-lg);
  padding: 5px;
  min-height: 9rem;
  &.active {
    .faq__item__title__plus {
        &::before {
            transform: rotate(0);
        }
    }
    .faq__item__title__icon{
        background-color: var(--orange);
        color: #fff;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__icon {
      flex: none;
      width: 7.9rem;
      height: 7.9rem;
      border-radius: var(--border-radius-lg);
      background-color: var(--light-grey);
      font-size: 4.8rem;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      transition: all .3s;
      &::before {
        content: "?";
      }
    }
    &__text {
      font-size: 16px;
      line-height: 1.4;
      flex-grow: 1;
    }
    &__plus {
      flex: none;
      width: 7.9rem;
      height: 7.9rem;
      position: relative;
      &::before,
      &::after {
        content: "";
        width: 50%;
        height: 1px;
        background-color: #c1c1c1;
        position: absolute;
        top: 50%;
        left: 25%;
      }
      &::before {
        transform: rotate(90deg);
        transition: all .3s;
      }
    }
  }

  &__descr {
    padding: 1.5rem;
    display: none;
    p {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}
