.features-block {
  background-color: #000;
  color: #fff;
  padding: 9rem 0;
}
.features-row {
  display: flex;
  align-items: center;
  margin-bottom: 9rem;
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .features-row__descr {
        padding-left: 0;
        padding-right: 5rem;
    }
  }
  &__img,
  &__descr {
    width: 50%;
  }
  &__img {
    line-height: 0;
    img{
        width: 100%;
        max-width: none;
        border-radius:var(--border-radius-lg);
    }
  }
  &__descr {
    padding-left: 15rem;
    .h1 {
      line-height: 1.2;
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 3em;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 660px;
    }
  }
}
