.feedback {
    background-color: #000;
    padding: 11rem 0;
}
.feedback__content {
    border-radius: var(--border-radius-lg);
    border: 1px dashed var(--red);
    background: url('../img/feedback-img.png') 0 center no-repeat;
    padding: 20rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
        color: #fff;
        width: 48%;
        .h2 {
            font-size: 4.8rem;
        }
    }
    &__form {
        width: 48%;
    }
}
.feedback-form {
    padding: 1rem;
    border: 1px dashed #fff;
    border-radius: 18px;
    display: flex;
    &__input {
        flex-grow: 1;
        background: transparent;
        font-family: "Inter", sans-serif;
        appearance: none;
        outline: none;
        padding-left: 1em;
        font-size: 16px;
        border: none;
        color: #fff;
        &::placeholder {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
        }
    }
}