.feedback-form-block {
    background-color: #000;
    padding: 10rem 0;
}
.feedback-form__container {
    background: url('../img/feedback-form.jpeg') 0 0 no-repeat;
    background-size: cover;
    border-radius: var(--border-radius-lg);
    padding: 10rem 5vw;
}
.feedback-form__title {
    color: #fff;
}
.feedback-form__content {
    width: 50%;
    .btn-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }
}
.input {
    display: block;
    width: 100%;
    height: 64px;
    background: transparent;
    font-size: 16px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-left: 1.5em;
    border: 1px dashed #fff;
    border-radius: var(--border-radius-medium);
    margin-bottom: 15px;
    &::placeholder{
        font-family: "Inter", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
        transition: opacity .3s;
    }
    &:focus {
        border-style: solid;
        &::placeholder {
            opacity: 0;
        }
    }
    &--dark-border{
        border-color: #c1c1c1;
        color: #000;
        &::placeholder {
            color: #c1c1c1;
        }
    }
    &--white {
        background-color: #fff;
        color: #000;
        border-color: #212121;
        &::placeholder {
            color: #212121;
        }
    }
    &--dark {
        border-color: #fff;
        background-color: #212121;
        color: #fff;
    }
}
textarea.input {
    resize: none;
    height: 140px;
    padding-top: 2em;
}
.select-field {
    background: url('../img/icons//selct-arrow_red.svg') calc(100% - 10px) center no-repeat;
}