.filter-block-wrapper {
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #E9E9E9;
}
.total-goods {
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: var(--border-radius-medium);
    padding: 0 1em;
    background-color: #FBFBFB;
    margin-right: 1em;
    span {
        padding-left: 0.5em;
    }
}
.sort-block {
    &__title {
        margin-right: 0.5em;
    }
}
.filter-btn{
    display: flex;
    align-items: center;
    background-color: var(--red);
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    height: 55px;
    padding: 0 1em;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: darken(#B0192E, 10%);
    }
    &__icon {
        flex: none;
        width: 2.0714em;
        height: 1.4285em;
        margin-left: 0.75em;
        position: relative;
        &::before,
        &::after {
            content: '';
            width: 15px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 47%;
            right: 0;
            opacity: 0;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
        img {
            width: 100%;
        }
    }
}
.filter-block {
    &.active {
        .filter__popup {
            display: block;
        }   
        .filter-btn {
            background-color: darken(#B0192E, 5%);
            &__icon {
                img {
                    opacity: 0;
                }
                &::before,
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}
.filter__popup {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
    border-radius: var(--border-radius-lg);
    padding: 4rem;
    display: none;
    z-index: 5;
    &__content {
        &__item {
            &__title {
                line-height: 155%;
                padding-bottom: 0.7142em;
                margin-bottom: 1em;
                border-bottom: var(--border);
            }
        }
    }
    &__cta {
        margin-top: 8rem;
        display: flex;
        justify-content: flex-end;
        .btn{
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}
.checkbox {
    margin-bottom: 12px;
    input {
        display: none;
        &:checked + label {
            .checkbox__input {
                &::before {
                    opacity: 1;
                }
            }
        }
        &:checked + .badge {
            background-color: var(--orange);
            color: #fff;
            sup {
                color: currentColor !important
            }
        }
    }
    label {
        display: inline-flex;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        transition: color .3s;
        a {
            text-decoration: underline;
            &:hover {
                color: var(--red);
                text-decoration: none;
            }
        }
    }
    &__input {
        width: 20px;
        height: 20px;
        flex: none;
        border-radius: 4px;
        border: 1px solid #C1C1C1;
        margin-right: 1em;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../img/icons/checkbox.svg') center no-repeat;
            opacity: 0;
            transition: opacity .3s;
        }
    }
    &__text {
        line-height: 1.3;
    }
    &--radio {
        .checkbox__input {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 1px solid #212121;
            &::before {
                background-image: url('../img/icons/radio.svg');
            }
        }
    }
}
#slider-range {
    margin-top: 3rem;
}
.slider-range__values {
    font-size: 14px;
    font-weight: 300;
    margin-top: 3rem;
    span {
        text-transform: uppercase;
        &:not(:first-child) {
            margin-left: 2rem;
        }
    }
}
.slider-range__input {
    font-size: 14px;
    width: 140px;
    height: 45px;
    border-radius: var(--border-radius-medium);
    border: var(--border);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-left: 2rem;
}
.ui-widget.ui-widget-content {
    border-color: #000;
}
.ui-slider-horizontal {
    height: 1px;
}
.ui-slider .ui-slider-handle {
    width: 12px;
    height: 19px;
    color: #000;
    background-color: currentColor;
    border: none;
    border-radius: 0;
    outline: none;
    &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        border: 6px solid transparent;
        border-top: 3px solid currentColor;
    }
    &:hover {
        color: var(--red);
    }
}
.ui-slider-horizontal .ui-slider-handle {
    top: -9px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    border: 1px solid var(--red);
    top: -1px;
}