/*Footer*/ 
.footer{
	&__main {
        background-color: var(--grey-bg);
        padding: 7rem 0 5rem;
    }
    &-logo {
        display: block;
        width: 140px;
        margin-bottom: 4rem;
        margin-top: -2rem;
        img {
            width: 100%;
        }
    }

    &__left {
        width: 60%;
    }
    &__menu_title{
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 1.5em;
    }
    &__menu {
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
        li {
            &:not(:last-child){
                margin-bottom: 1em;
            }
            a {
                &:hover {
                    color: var(--red);
                }
            }
        }
    }

    &__bottom {
        background-color: #000;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
        padding: 3rem 0;
         a{
            &:hover {
                text-decoration: underline;
            }
         }
    }
}
.address {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 148%;
    margin-bottom: 3em;
}
.footer-feedback {
    .btn {
        margin-left: 3rem;
    }
}
.social {
    display: flex;
    align-items: center;
    li{
        padding: 0 .5rem;
        a {
            display: block;
            width: 40px;
            height: 40px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
.payments {
    margin-left: 1rem;
}