/*Header*/
.header {
  &__top {
    background-color: #000;
    padding: 15px 0;
    color: #fff;
    font-weight: 300;
    position: relative;
    z-index: 3;
    @media(min-width: 991px) {
      min-height: 68px;
    }
    .catalog-btn {
      margin-right: 9em;
    }

    &__left {
      .new-select {
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
        font-weight: 400;
        color: #fff;
        &::after {
          background: url("../img/icons/select-arrow.svg") center no-repeat;
          width: 8px;
          height: 4px;
          position: relative;
          margin-left: 0.5em;
        }
        &.active {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
      .new-select__list {
        color: #000;
        min-width: 40px;
        margin-top: 5px;
        padding: 5px 0;
        span {
          padding: 5px;
          text-align: center;
        }
      }
    }

    &__center {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
      a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 4em;
        border-left: 1px solid var(--border-color-grey);
        border-right: 1px solid var(--border-color-grey);
        transition: all 0.3s;
        &:hover {
          border-color: #fff;
        }
      }
    }
    .search-block {
      margin: 0 6vw;
      position: relative;
      height: 30px;
      display: flex;
      align-items: center;
      &__btn {
        width: 21px;
        height: 21px;
        position: relative;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: #fff;
          position: absolute;
          top: 50%;
          left: 0;
          opacity: 0;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
      &__form {
        position: absolute;
        top: 0;
        right: 30px;
        height: 30px;
        width: 300px;
        background-color: #000;
        display: none;
        z-index: 2;
        form {
          display: flex;
          width: 100%;
          height: 100%;
        }
        &__input {
          width: calc(100% - 60px);
          height: 100%;
          border: 1px solid var(--border-color-grey);
          padding-left: 1em;
          font-size: 14px;
          font-family: "Inter", sans-serif;
          color: #fff;
          border-radius: 5px 0 0 5px;
          background-color: transparent;
          appearance: none;
        }
        &__submit {
          width: 60px;
          height: 30px;
          background: #000 url("../img/icons/search.svg") center no-repeat;
          appearance: none;
          border: 1px solid #fff;
          border-radius: 5px;
        }
      }

      &.active {
        .search-block__btn {
          img {
            opacity: 0;
          }
          &::before,
          &::after {
            opacity: 1;
          }
        }
        .search-block__form {
          display: block;
        }
      }
    }
  }

  &__nav {
    background-color: var(--white-dark);
    padding: 2.8rem 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    a {
      &:hover,
      &.active {
        color: var(--red);
      }
    }
  }
}
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /*Your new styles */
  height: 10px;
  width: 10px;
  color: #fff;
}
.catalog-btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid #616161;
  border-radius: 5px;
  height: 2.7em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  &.active {
    border-color: #fff;
    .catalog-btn__icon {
      border-color: #fff;
      span {
        position: absolute;
        left: 0;
        top: 50%;
        &:nth-child(2) {
          opacity: 0;
        }
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__icon {
    flex: none;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 1em;
    position: relative;
    transition: all 0.3s;
    span {
      width: 1.5em;
      height: 1px;
      background-color: currentColor;
      &:not(:last-child) {
        margin-bottom: 0.4285em;
      }
    }
  }
}
.lang {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent url("../img/icons/select-arrow.svg") 100% center
    no-repeat;
  padding-right: 15px;
  border: none;
  outline: none;
  appearance: none;
}
.phone {
  &:hover {
    opacity: 0.7;
  }
}
.user {
  margin-right: 2em;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
  }
}
.cart-block {
  position: relative;
  &.active {
    .cart-block__popup {
      display: block;
    }
  }
  &__btn {
    position: relative;
    padding-right: 18px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
    &__counter {
      position: absolute;
      top: -5px;
      right: 0;
      background-color: var(--red);
      color: #fff;
      font-size: 10px;
      width: 1.8em;
      height: 1.8em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
    }
  }
}
.cart-block__popup {
  position: absolute;
  top: calc(100% + 24px);
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
  border-radius: var(--border-radius-lg);
  width: 50rem;
  padding: 2.7rem 2.5rem 4rem;
  color: #000;
  display: none;
  z-index: 10;
  &__content {
    max-height: 320px;
    overflow-y: auto;
  }
  &__item {
    border-bottom: 1px solid var(--border-color-grey-darken);
    padding-bottom: 2.4rem;
    margin-bottom: 2.4rem;
    &__product {
      display: flex;
    }
    &__options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: calc(80px + 2.3rem);
    }
    &__price {
      font-size: 2.4rem;
      display: flex;
      align-items: flex-end;
    }
    &__volume {
      background-color: var(--white-darken);
      border-radius: 5px;
      font-size: 1.3rem;
      line-height: 155%;
      font-weight: 300;
      padding: 2px 4px;
      margin-left: 1.2rem;
      sup {
        color: var(--red);
        font-size: 0.7em;
      }
    }
  }
  &__bottom {
    text-align: center;
    .btn {
      padding-left: 3.2em;
      padding-right: 3.2em;
    }
  }
  &__total {
    margin-bottom: 3.6rem;
    &__title {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    &__price {
      font-size: 2.4rem;
      font-weight: 500;
    }
  }
}
.item__product__img {
  flex: none;
  width: 8rem;
  height: 8rem;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  margin-right: 2.3rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.popup__item__delete {
  flex: none;
  width: 26px;
  height: 26px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  border-radius: 4px;
  margin-left: 2rem;
  &:hover {
    background-color: darken(#fbfbfb, 5%);
  }
  img {
    width: 13px;
  }
}
.item__product__descr {
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 155%;
}
.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(#000, 0.7);
  display: none;
  z-index: 90;
}
.mobile-menu {
  position: fixed;
  width: 90%;
  max-width: 400px;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px);
  overflow: hidden;
  background-color: #fff;
  padding: 40px 20px 70px;
  display: none;
  z-index: 100;
  &__content {
    height: calc(100vh - 110px);
    overflow-y: auto;
    padding-bottom: 70px;
  }
  .phone {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
  }
  .search__form {
    margin-bottom: 15px;
    form {
      display: flex;
    }
    &__input {
      display: block;
      width: calc(100% - 80px);
      height: 35px;
      color: #000;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
      padding-left: 30px;
      background: url("../img/icons/search_black.svg") 0 48% no-repeat;
      background-size: 18px;
      appearance: none;
    }
    &__submit {
      height: 35px;
      padding: 0 15px;
      font-size: 14px;
    }
  }
  .nav {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    li {
      margin-bottom: 1em;
      a {
        position: relative;
        padding-left: 10px;
        display: block;
        &::before {
          content: "";
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: var(--orange);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
.main-menu {
  font-size: 13px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 1em;
    line-height: 1.4;
    a {
      position: relative;
      padding-left: 10px;
      display: block;
      &::before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--orange);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    & > ul {
      padding-left: 1em;
      margin-top: 1em;
      font-weight: 300;
      font-size: 0.9em;
    }
  }
}
.close-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.burger {
  flex: none;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #616161;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 7px;
  transition: all 0.3s;
  display: none;
  span {
    width: 20px;
    height: 1px;
    background-color: currentColor;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.catalog-menu-wrapper {
  position: relative;
  &.active {
    .catalog-menu-modal {
      display: block;
      visibility: visible;
      transform: translateX(0);
      &__content {
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
}
// .catalog-menu {
//   position: absolute;
//   top: calc(100% + 15px);
//   left: 0;
//   font-size: 1.4rem;
//   font-weight: 300;
//   text-transform: uppercase;
//   width: 49rem;
//   display: none;
//   z-index: 10;
//   ul {
//     list-style: none;
//   }
//   li {
//     line-height: 215%;
//     position: relative;
//     &:not(:last-child) {
//       border-bottom: 1px solid #e9e9e9;
//     }
//     & > ul {
//       @media (min-width: 990px) {
//         position: absolute;
//         left: 100%;
//         top: 0;
//         display: none;
//         z-index: 2;
//       }
//     }
//     a {
//       display: flex;
//       align-items: center;
//       padding: 1.7857em 2em;
//       &::before {
//         content: "";
//         width: 6px;
//         height: 6px;
//         border-radius: 50%;
//         background-color: var(--orange);
//         margin-right: 1em;
//       }
//       &:hover,
//       &.active {
//         color: var(--orange);
//       }
//     }
//     &.has-submenu {
//       &:hover {
//         @media (min-width: 990px) {
//           & > ul {
//             display: block;
//           }
//         }
//       }
//       & > a {
//         background: url("../img/icons/angle_right.svg") calc(100% - 2em) center
//           no-repeat;
//       }
//     }
//   }
// }

.catalog-menu-modal {
  position: fixed;
  top: 68px;
  left: 0;
  width: 100%;
  background-color: rgba(#000, 0.7);
  height: 100vh;
  visibility: hidden;
  transform: translateX(-100%);
  &__content {
    background-color: #fff;
    width: 60%;
    height: calc(100% - 68px);
    padding-left: 3rem;
    color: #000;
    display: flex;
    align-items: flex-start;
    visibility: hidden;
    overflow-y: auto;
    padding-bottom: 70px;
    transform: translateX(-100%);
    transition: transform 0.6s;
    &__menu {
      border-right: var(--border);
      width: 60%;
    }
    &__img {
      width: 40%;
      padding: 3rem;
      position: sticky;
      top: 0;
      img {
        max-width: 100%;
      }
      .h4 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 1em;
        line-height: 1.4;
      }
    }
  }
}
.catalog-menu__content {
  &__item {
    .h3 {
      padding: 3rem 0;
      border-bottom: var(--border);
      display: flex;
      align-items: center;
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--orange);
        margin-right: 1em;
      }

      &:hover {
        color: var(--orange)
      }
    }
    .catalog-menu {
      li {
        border-bottom: var(--border);
        a {
          display: flex;
          align-items: center;
          padding: 3rem 2rem 3rem 0;
          position: relative;
          &::before {
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--orange);
            margin-right: 1em;
          }
          &:hover,
          &.active {
            color: var(--orange);
          }
        }
      }
    }
  }
}
.header__top__center a {
  transition: unset;
}
.noscroll {
  .header__top__center a {
    margin-left: -15px;
    transition: unset;
  }
}