.history-block {
    background-color: var(--light-grey);
    padding-top: 20rem;
    margin-top: -23rem;
    .page-title {
        margin-bottom: 12rem;
    }
}
.history-slider {
    .slick-list {
        padding: 140px 0 100px !important;
    }
    .slick-arrow {
        position: absolute;
        top: 0;
        width: 8.2rem;
        height: 4.4rem;
        cursor: pointer;
        z-index: 2;
        svg {
            width: 100%;
            height: 100%;
        }
        &:hover {
            color: var(--red)
        }
        &.prev-arrow {
            left: 0;
        }
        &.next-arrow {
            right: 0;
        }
    }
}
.history-slide {
  padding: 0 4rem;
  border: 1px dashed #F3773F;
  border-radius: 50%;
  aspect-ratio: 1;
  margin: 0 5rem;
  transition: transform .3s;
  &.slick-center {
    transform: translateY(-100px) scale(1.1);
    p {
        font-size: 14px !important;
    }
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    position: relative;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 12;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 12px;
      font-weight: 300;
      line-height: 148%;
      text-align: center;
      transition: font-size .3s;
    }
    .year {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: absolute;
        right: -4rem;
        top: 50%;
        transform: translate(50%, -50%);
        font-weight: 900;
        color: var(--orange);
        font-size: 8rem;
    }
  }
}
