.hits-block {
  padding: 10rem 0 5rem;
  .block-top {
    margin-bottom: 10rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    li {
      width: 25%;
      padding: 0 1rem;
      margin-bottom: 2rem;
    }
  }
}
.hits-item {
  height: 100%;
  &__content {
    height: 43.7rem;
    background-color: var(--grey-bg);
    border-radius: var(--border-radius-lg);
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    &::before {
      content: "";
      width: 2rem;
      height: 2rem;
      background: url("../img/icons/arrow_up_45deg.svg") center no-repeat;
      background-size: contain;
      position: absolute;
      right: 3rem;
      top: 3rem;
    }
    &__img {
      display: block;
      height: 80%;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .h4 {
      display: block;
      height: 20%;
    }
  }
  &__descr {
    display: block;
    height: calc(100% - 43.7rem);
    span {
      display: block;
      max-width: 90%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
