.inner-page {
  padding: 50px 0;
  font-weight: 300;
  p {
    margin-bottom: 2em;
    line-height: 2;
    a {
      color: var(--red);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  ul:not([class]),
  ol:not([class]) {
    padding-left: 2em;
    margin: 30px 0;
    a {
      color: var(--red);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 2rem;
  }
  .news-list {
    margin-bottom: 30px;
  }
  ol:not([class]),
  ul:not([class]) {
    margin: 30px 0;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    li {
      margin-bottom: 1em;
    }
  }
  .decor-list {
    ul {
      margin: 50px 0;
      padding: 0;
      list-style: none;
      li {
        border: 1px dashed #e9e9e9;
        border-radius: var(--border-radius-lg);
        margin-bottom: 3px;
        font-weight: 300;
        list-style: none;
        padding: 2em 3em;
        position: relative;
        font-style: italic;
        &::before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: var(--orange);
          position: absolute;
          left: 1.5em;
          top: 2.5em;
        }
      }
    }
  }
}
.block-with-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5rem;
  .content {
    flex-grow: 1;
    padding-right: 20px;
  }
  .sidebar {
    width: 39.5rem;
    flex: none;
    background-color: var(--light-grey);
    border-radius: var(--border-radius-lg);
    padding: 4rem;
    .h3 {
      line-height: 148%;
      padding-bottom: 0.3em;
      border-bottom: var(--border);
      margin-bottom: 0.3em;
    }
    &__list {
      li {
        &:not(:first-child) {
          border-top: var(--border);
        }
        a {
          display: block;
          font-size: 1.6rem;
          line-height: 148%;
          font-weight: 300;
          position: relative;
          padding: 0.8em 0 0.8em 1.25em;
          &::before {
            content: "";
            width: 1em;
            height: 5px;
            background: url("../img/icons/list-marker_arrow.svg") 0 0 no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 1.3em;
          }
          &:hover {
            color: var(--red);
          }
        }
      }
      & + * {
        margin-top: 20px;
      }
    }
  }
}
.banner {
  position: relative;
  margin-bottom: 30px;
  &__img {
    position: relative;
    line-height: 0;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.3);
      top: 0;
      left: 0;
      position: absolute;
      border-radius: var(--border-radius-lg);
    }
    img {
      width: 100%;
      border-radius: var(--border-radius-lg);
    }
  }
  &__descr {
    position: absolute;
    width: 100%;
    padding: 5vw;
    color: #fff;
    bottom: 0;
    left: 0;
    font-weight: 300;
    z-index: 1;
    & > * {
      line-height: 1.1;
    }
  }
}
.author {
  &__avatar {
    width: 75px;
    height: 75px;
    flex: none;
    line-height: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: var(--border);
    }
  }
  &__name {
    margin-left: 1em;
  }
}

.gallery-photo {
  margin: 50px -10px !important;
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 0 10px;
    margin-bottom: 20px;
    flex-grow: 1;
    min-width: 25%;
    max-width: 50%;
  }
  &__item {
    img {
      width: 100%;
    }
  }
}
