.main-slider-wrapper {
    width: 100%;
    height: calc(100vh - 140px);
    position: relative;
    z-index: 1;
    &__decor {
        flex: none;
        width: 93px;
        height: calc(100% + 69px);
        margin-top: -69px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.main-slider {
    width: calc(100% - 93px);
    height: 100%;
    margin-bottom: 0;

    .slick-list,
    .slick-track {
        height: 100%;
    }

    .slick-dots {
        position: absolute;
        right: 5rem;
        bottom: 4rem;
        display: flex;
        width: auto;
        li {
            height: auto;
            width: auto;
            &.slick-active {
                button {
                    &::after {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
            button {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                padding: 0;
                margin: 0;
                color: #000;
                background-color: currentColor;
                position: relative;
                &::before {
                    display: none;
                }
                &::after {
                    content: '';
                    width: 200%;
                    height: 200%;
                    border-radius: 50%;
                    background-color: currentColor;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(.5);
                    opacity: 0;
                    transition: all .3s;
                }
            }
        }
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;

        &--dark {
            color: #fff;
        }

        .container {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .badge {
            margin-bottom: 3em;
        }
        &__title {
            max-width: 121rem;
            margin-bottom: 2em;
        }
        .btn {
            min-width: 20rem;
        }
        &__features {
            font-size: 2rem;
            line-height: 130%;
            font-weight: 300;
            max-width: 20rem;
            margin-left: 10em;
            li {
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
            }
        }
    }
}