:root {
  --white-dark: #f7f7f7;
  --white-darken: #f6f6f6;
  --red: #b0192e;
  --orange: #f3773f;
  --border-color-grey: rgba(255, 255, 255, 0.17);
  --border-color-grey-darken: #e9e9e9;
  --light-grey: #fbfbfb;
  --grey-bg: #f9f9f9;
  --border: 1px solid #e9e9e9;
  --border-radius-medium: 10px;
  --border-radius-lg: 24px;
}
html,
body {
  min-height: 100%;
}
html {
  font-size: 10px;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
}
.noscroll {
  overflow: hidden;
  .header__top {
    padding-right: 15px;
  }
}
img {
  max-width: 100%;
}
a {
  color: currentColor;
  transition: all 0.2s;
}
h1,
.h1 {
  font-size: 6.4rem;
  line-height: 1.4;
  @media (max-width: 1600px) {
    font-size: 4.3rem;
  }
}
h2,
.h2 {
  font-size: 3.6rem;
}
h3,
.h3 {
  font-size: 2.4rem;
}
h4,
.h4 {
  font-size: 2rem;
}
.fz-14 {
  font-size: 1.4rem;
}
.font-300 {
  font-weight: 300;
}
.font-500 {
  font-weight: 500;
}
.font-700,
b,
strong {
  font-weight: 700;
}
.font-900 {
  font-weight: 900;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.wrapper {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
  margin: 0 auto;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.grey-bg {
  background-color: var(--grey-bg);
}
.red {
  color: var(--red);
}
.text,
p {
  font-size: 1.6rem;
  line-height: 148%;
}
.page-title {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.2em;
}
.section {
	padding: 7rem 0;
}