@media (max-width: 1860px) {
  .header__nav {
    .nav {
      padding-right: 100px;
    }
  }
}
@media (max-width: 1720px) {
  .sale-block__img img {
    width: 100%;
  }
  .advertise-block {
    height: auto;
    min-height: 80rem;
    background-position: 100% 100%;
    background-size: 100% auto;
  }
  .advertise-block__top {
    display: block;
  }
  .advertise-block__top__notice {
    margin-left: 0;
    margin-bottom: 8rem;
  }
  .advertise-block .h1 {
    font-size: 7rem;
  }
  .advertise-block__hash {
    border-width: 3px;
  }
  .product-detail__content__right__features {
    width: 25rem;
    padding: 10px;
    li {
      font-size: 1.6rem;
      padding: 10px;
    }
  }
  .product-detail__content__price__body .counter__btn,
  .product-detail__content__price__body .counter__input {
    width: 31px;
    height: 31px;
  }
  .product-detail__content__price__body .counter__input {
    font-size: 15px;
  }
  .manager__item__block {
    padding: 2rem;
  }
  .manager__item__block__avatar {
    width: 8rem;
    height: 8rem;
    margin-right: 1.5vw;
  }
  a[href^='tel'], a[href^='mailto'] {
    white-space: nowrap;
  }
  .manager__item {
    width: 22%;
  }
  .manager__item--lg {
    width: 56%;
  }
}
// 1720
@media (max-width: 1440px) {
  html {
    font-size: 0.7vw;
  }
  .cart-block__popup__item__options {
    padding-left: 0;
    margin-top: 20px;
  }
  .item__product__img {
    border-radius: 5px;
  }
  .products-block__row__item--lg .product-item {
    min-height: 70rem;
  }
  .product-item {
    min-height: 35.5rem;
  }
  .modal__left,
  .modal__right {
    width: 50%;
  }
  .modal__left {
    padding: 4rem;
    &__title {
      font-size: 5rem;
    }
  }
}
// 1440

@media (max-width: 1220px) {
  .breadcrumbs-block {
    padding: 15px 0 5px;
    .back-btn {
      display: none;
    }
  }
  .breadcrumbs li {
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .news-page__bottom {
    display: block;
    .btn-container,
    .paginator-wrapper {
      width: 100%;
      display: block;
      text-align: center;
    }
    .paginator {
      justify-content: center;
      margin-top: 30px;
    }
  }
  .news-page__bottom .btn-container .btn {
    transform: translateX(0);
  }
  .product-list > li,
  .office-list li {
    width: 33.333%;
  }
  .product-list__item {
    &::before,
    &__descr {
      display: none;
    }
  }
  .filter__popup__content {
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      width: 48%;
      margin-bottom: 30px;
    }
  }
  .slider-range__input {
    width: 70px;
  }
  .filter-block-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .filter-block__right {
    margin-bottom: 20px;
    width: 100%;
    .select {
      flex-grow: 1;
      max-width: unset;
    }
    .new-select {
      width: 100%;
    }
  }
  .total-goods {
    padding-left: 0;
  }
  .filter-block__left {
    width: 100%;
    justify-content: space-between;
  }
  .history-slider .slick-list {
    padding: 40px 0 !important;
  }
  .history-block .page-title {
    margin-bottom: 1.2em;
  }
  .history-block {
    margin-top: 0;
    padding-top: 50px;
  }
  .manager {
    flex-wrap: wrap;
  }
  .manager__item--lg {
    width: 100%;
  }
  .related-slide {
    margin: 0 7px;
  }
  .block-with-sidebar .sidebar {
    width: 350px;
  }
  .banner__descr {
    padding: 30px;
  }
  .fz-14 {
    font-size: 1.6rem;
  }
  h3,
  .h3 {
    font-size: 2.8rem;
  }
  .available-options {
    display: block;
    &__title {
      margin-right: 0;
    }
  }
  .added {
    height: 45px;
  }
}
// 1220
@media (max-width: 990px) {
  .burger {
    display: flex;
    margin-right: 20px;
  }
  .catalog-btn,
  .header__top__right .phone,
  .search-block,
  .header__nav,
  .main-slider-wrapper__decor,
  .catalog-page__descr__img,
  .product-detail__right > .badge,
  .product-detail__right .product-detail__title,
  .catalog-menu-modal {
    display: none !important;
  }
  .header__top__center a {
    border: none;
    padding: 0;
    width: 100px;
  }
  .user {
    margin-right: 20px;
  }
  .cart-block__btn {
    padding-right: 0;
    &__counter {
      width: 15px;
      height: 15px;
      font-size: 8px;
      right: auto;
      left: 50%;
    }
  }
  .container {
    padding: 0 10px;
  }
  .menu-open {
    overflow: hidden;
    .menu-overlay,
    .mobile-menu {
      display: block;
    }
  }
  .main-slider,
  .catalog-page__descr__left,
  .block-with-sidebar .sidebar {
    width: 100%;
  }
  .main-slider-wrapper {
    height: auto;
    height: 700px;
  }
  .fz-14 {
    font-size: 13px;
  }
  .total-goods,
  .new-select,
  .filter-btn {
    height: 40px;
  }
  .new-select:after {
    width: 40px;
  }
  .price-block {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .old-price {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .catalog-page__descr__left__logo {
    width: 50px;
    margin-right: 20px;
  }
  .history-slide {
    border-radius: 10px;
    margin: 0 3rem;
    padding: 0 20px;
  }
  .history-slide__content {
    padding: 20px 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .history-slide__content .year {
    writing-mode: unset;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    font-size: 30px;
    margin-bottom: 15px;
  }
  .banner-block__item {
    height: 25rem;
    .h2 {
      font-size: 3rem;
    }
  }
  .cart-block__content__item .counter__btn {
    width: 31px;
    height: 31px;
  }
  .cart-block__content__item .counter__input {
    height: 31px;
    font-size: 16px;
  }
  .cart-block-wrapper,
  .product-detail {
    display: block;
  }
  .cart-block__sidebar {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    display: block;
  }
  .cart-block__content {
    padding-right: 0;
  }
  .block-with-sidebar {
    display: block;
  }
  .block-with-sidebar .sidebar__list li a {
    font-size: 2rem;
  }
  .product-detail__left,
  .product-detail__right {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px;
  }
  .product-detail__left {
    .badge {
      display: inline-flex;
      margin-bottom: 20px;
    }
    .product-detail__title {
      display: block;
      margin-bottom: 40px;
    }
  }
  .product-detail__preview-slide {
    height: 60px;
  }
  .tab-list {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    li {
      padding: 1em;
      span {
        &::after {
          top: calc(100% + (1em - 1px));
        }
      }
    }
  }
  .modal__left {
    display: none;
  }
  .modal__right {
    width: 100%;
  }
  .close-modal {
    transform: translateX(0);
    width: 50px;
    height: 50px;
    left: 30px;
    top: 60px;
  }
  .block-with-sidebar .content {
    padding-right: 0;
  }
}
// 990

@media (max-width: 768px) {
  :root {
    --border-radius-lg: 15px;
  }
  html {
    font-size: 1vw;
  }
  .main-slider__item__features {
    margin-left: 4rem;
  }
  .products-block__row__item,
  .faq__container__column {
    width: 100%;
  }
  .catalog-slider {
    height: 600px;
  }
  .catalog-slide {
    padding: 50px 0;
  }
  .preview__item__main__img {
    height: 200px;
  }
  .catalog-slide__body__preview__item {
    min-width: 300px;
    padding: 20px;
  }
  .preview__item__bottom {
    display: block;
    padding: 0;
  }
  .preview__item__bottom__title {
    padding-right: 0;
    margin-bottom: 20px;
    display: block;
  }
  .hits-block__list li,
  .blog-list li,
  .manager__item,
  .office-list li {
    width: 50%;
  }
  .text,
  p,
  .office-list__item__row,
  .badge,
  .tab-content ol:not([class]),
  .tab-content ul:not([class]) {
    font-size: 14px;
  }
  .features-row__descr {
    padding-left: 5rem;
  }
  h1,
  .h1 {
    font-size: 4rem;
  }
  .about-block__img {
    width: 40%;
  }
  .about-block__descr {
    width: 56%;
  }
  .about-block,
  .feedback,
  .footer__main {
    padding: 50px 0;
  }
  .feedback__content {
    padding: 50px 20px;
  }
  .feedback__content {
    display: block;
    &__left,
    &__form {
      width: 100%;
    }
    &__left {
      margin-bottom: 30px;
    }
  }
  .footer__menu {
    font-size: 12px;
    text-transform: capitalize;
  }
  .footer__main,
  .footer__bottom {
    .container {
      display: block;
    }
  }
  .footer__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__bottom {
    text-align: center;
    font-size: 12px;
  }
  .copyright,
  .webmaster {
    margin-bottom: 10px;
  }
  .footer__bottom__options {
    display: block;
    margin-top: 10px;
  }
  .manager__item--lg,
  .feedback-form__content {
    width: 100%;
  }
  .feedback-form-block {
    padding: 50px 0;
  }
  .feedback-form__container {
    display: block;
    padding: 50px 20px;
  }
  .feedback-form__title {
    margin-bottom: 30px;
    br {
      display: none;
    }
  }
  .input {
    height: 55px;
  }
  textarea.input {
    height: 120px;
    padding-top: 1em;
  }
  .tab-content ol:not([class]),
  .tab-content ul:not([class]) {
    margin: 20px 0;
  }
}
// 768

@media (max-width: 640px) {
  html {
    font-size: 1.2vw;
  }
  .main-slider-wrapper {
    height: 400px;
  }
  .badge {
    font-size: 13px;
    border-radius: 5px;
    &--lg {
      font-size: 14px;
    }
  }
  .main-slider__item .badge {
    margin-bottom: 2em;
  }
  h1,
  .h1,
  .page-title {
    font-size: 24px;
  }
  h2,
  .h2 {
    font-size: 20px;
  }
  h3,
  .h3 {
    font-size: 18px;
  }
  h4,
  .h4 {
    font-size: 15px;
  }
  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
  .main-slider__item__features,
  .catalog-slide__body__preview,
  .sale-block__img,
  .about-block__img,
  .footer__left__column:not(:first-child),
  .cart-block__sidebar__row__title {
    display: none !important;
  }
  .product-item__descr {
    font-size: 14px;
  }
  .product-item {
    border-radius: 10px;
    min-height: 200px;
  }
  .product-item-wrapper {
    flex-grow: 1;
  }
  .products-block__row__item--lg .product-item {
    min-height: 300px;
  }
  .catalog-slide__body__top {
    display: block;
    .h1 {
      margin-bottom: 30px;
    }
  }
  .catalog-slider {
    height: 400px;
  }
  .catalog-slider__description__slide {
    padding-left: 0;
    font-size: 16px;
  }
  .catalog-slider__description {
    margin-bottom: 20px;
  }
  .catalog-slider__arrows .slick-arrow {
    width: 30px;
    height: 30px;
    svg {
      width: 50%;
      height: 50%;
    }
  }
  .block-top {
    display: block;
    .btn {
      margin-top: 20px;
    }
  }
  .hits-item .text {
    font-size: 12px;
  }
  .sale-block__left,
  .features-row__img,
  .features-row__descr,
  .about-block__descr,
  .news-list li,
  .filter__popup__content__item:last-child {
    width: 100%;
  }
  .advertise-block__top__notice {
    font-size: 12px;
    width: 300px;
    padding: 10px;
    margin-bottom: 120px;
    font-weight: 400;
  }
  .advertise-block .advertise-block__hash {
    font-size: 24px;
  }
  .blog-list__item__content {
    .h3 {
      font-size: 16px;
    }
    .text {
      font-size: 12px;
    }
  }
  .blog-list__item {
    height: 250px;
  }
  .features-row {
    display: block;
    margin-bottom: 40px;
  }
  .features-row__img {
    max-width: 320px;
    margin: 0 auto 30px;
  }
  .btn {
    border-radius: 6px;
  }
  .features-row__descr {
    padding-left: 0;
  }
  .about-block__descr__text p {
    font-size: 16px;
  }
  .feedback-form {
    display: block;
    border: none;
    .btn {
      width: 100%;
    }
  }
  .feedback-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .feedback__content__left .h2 {
    font-size: 20px;
    line-height: 1.4;
  }
  .footer__left__column,
  .footer__right {
    width: 100%;
    text-align: center;
  }
  .footer-logo {
    margin: 0 auto 20px;
  }
  .footer__menu_title,
  .cart-block__popup__total__title,
  .read-more {
    font-size: 14px;
  }
  .address,
  .breadcrumbs {
    font-size: 12px;
  }
  .footer-feedback {
    display: block;
    text-align: center;
    .social {
      justify-content: center;
      margin-bottom: 10px;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .footer__menu {
    li {
      display: inline-block;
      padding: 0 5px;
    }
  }
  .item__product__descr {
    font-size: 12px;
    text-transform: lowercase;
  }
  .cart-block__popup {
    width: 280px;
  }
  .item__product__img {
    width: 50px;
    height: 50px;
  }
  .cart-block__popup__item__price,
  .cart-block__popup__total__price {
    font-size: 16px;
    white-space: nowrap;
  }
  .cart-block__popup__item__volume {
    font-size: 10px;
  }
  .cart-block__popup__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .counter__btn {
    width: 25px;
    height: 25px;
  }
  .news-list__item {
    height: 350px;
  }
  .paginator {
    li {
      a {
        font-size: 14px;
      }
    }
  }
  .date {
    padding: 4px 7px;
    border-radius: 3px;
  }
  .product-list > li {
    width: 50%;
  }
  #slider-range {
    margin-top: 30px;
  }
  .slider-range__values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  .slider-range__input {
    flex-grow: 1;
  }
  .filter__popup__cta {
    justify-content: space-between;
    .btn {
      flex-grow: 1;
    }
  }
  .add-to-cart {
    font-size: 14px;
  }
  .added {
    height: 45px;
  }
  .catalog-page__descr__left p {
    font-size: 16px;
  }
  .banner-block__item {
    height: 21rem;
    .h2 {
      font-size: 2.5rem;
    }
  }
  .product-detail__content {
    flex-direction: column-reverse;
  }
  .product-detail__content__right,
  .product-detail__content__left,
  .product-detail__content__price__body,
  .office-list__item__title::after,
  .feedback-form__content .btn-container .btn {
    width: 100%;
  }
  .product-detail__content__right__features {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 30px;
    li {
      font-size: 14px;
      padding: 20px;
    }
  }
  .product-detail__content__left {
    padding-right: 0;
  }
  .product-detail__content__left .available-options .checkbox label {
    font-size: 16px;
  }
  .product-detail__content__price__body {
    justify-content: space-between;
    margin-bottom: 30px;
    .price-block {
      flex-direction: row-reverse;
      .old-price {
        margin-right: 20px;
        margin-bottom: 0;
        font-size: 16px;
      }
      .current-price {
        font-size: 20px;
      }
    }
  }
  .product-detail__content__price {
    .btn {
      width: 100%;
      font-size: 16px;
    }
  }
  .modal__right {
    padding: 20px;
  }
  .close-modal {
    width: 40px;
    height: 40px;
  }
  .total-goods {
    background: transparent;
  }
  .old-price {
    margin-bottom: 5px;
  }
  .add-to-cart__icon {
    border-color: var(--red);
  }
  .add-to-cart__text {
    color: var(--red);
  }
  .added {
    .add-to-cart__text {
      color: #fff;
    }
  }
  .product-detail__content__price__body .price-block {
    align-items: center;
  }
  .tab-list li {
    padding: 5px 8px;
  }
  .related-slider__arrows {
    justify-content: center;
    &::after {
      content: "";
    flex-grow: 1;
      height: 1px;
      border-bottom: var(--border);
      margin-left: 2vw;
      z-index: -1;
    }
  }
  .read-more {
    background-color: var(--red);
    padding: 7px 10px;
    border-radius: 5px;
  }
  .cart-block__sidebar__count {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .cart-form,
  .cart-block__sidebar {
    .btn {
        font-size: 16px;
        width: 100%;
    }
  }
}
// 640

@media (max-width: 480px) {
  .product-list > li {
    width: 100%;
    margin-bottom: 20px;
  }
  .product-list__item__main__title {
    height: auto;
  }
  .product-list__item__main__img {
    height: 250px;
  }
  .product-list__item__main__title {
    font-size: 16px;
  }
  .catalog-page__descr__left p {
    font-size: 14px;
  }
  .manager__item {
    width: 100%;
    .office-list__item {
      display: block;
      &__row {
        margin-bottom: 10px;
      }
    }
  }
  .manager__item__block,
  .cart-block__content__item__body__data {
    display: block;
  }
  .manager__item__block__avatar {
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
  }
  .cart-block__content__item__body .item__product__descr,
  .block-with-sidebar .sidebar__list li a {
    font-size: 14px;
  }
  .cart-block__content__item__img {
    width: 60px;
    height: 60px;
  }
  .body__data__left__price {
    white-space: nowrap;
  }
  .cart-block__content__item__body__data__left {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .cart-block__content__item__body .item__product__descr {
    width: 100%;
    padding-right: 20px;
  }
  .cart-block__content__item__body__descr {
    margin-bottom: 20px;
  }
  .cart-block__popup__item__price__total {
    margin-top: 30px;
    font-weight: 500;
  }
  .cart-form__item textarea.input {
    height: 160px;
  }
  .banner__descr {
    padding: 10px;
  }
  .inner-page ol:not([class]),
  .inner-page ul:not([class]) {
    margin: 20px 0;
    font-size: 14px;
  }
  .gallery-photo {
    margin: 30px -5px !important;
    li {
      padding: 0 5px;
      margin-bottom: 10px;
    }
  }
  .inner-page {
    padding-top: 25px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }
  .wrapper {
    padding-top: 57px;
  }
  // .product-item--bg,
  // .products-block__row__item--lg .product-item--bg {
  //   padding: 0;
  //   .product-item__descr {
  //     padding: 15px;
  //     background-color: rgba(#000, 0.7);
  //     border-radius: 0 0 10px 10px;
  //   }
  // }
  // .products-block__row__item--lg .product-item {
  //   justify-content: end;
  // }
  .product-item--dark {
    text-shadow: 2px 2px 10px rgba(#000, 1);
  }
  .sale-block__left .sale-block__img {
    display: block !important;
    width: 100%;
    img {
      position: static;
    }
  }
  .sale-block__left__descr {
    padding: 5rem 0;
  }
  .advertise-block__top {
    width: 100%;
    text-align: center;
  }
  .advertise-block__top__notice {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
  }
  .features-row__descr,
  .about-block__descr,
  .manager__item__block {
    text-align: center;
  }
  .about-block__descr__logo {
    margin-left: auto;
    margin-right: auto;
  }
  .about-block__descr {
    &__text {
      text-align: left;
    }
  }
  .manager__item .office-list__item__row {
    justify-content: center;
    &__descr {
        text-align: left;
        width: 150px;
    }
  }
  .header__top {
    z-index: 95;
  }
  .close-menu {
    display: none;
  }
  .mobile-menu {
    overflow-y: auto;
  }
  .mobile-menu__content {
    height: auto;
    overflow: auto;
    padding-bottom: 0;
  }
  .menu-open {
    .burger {
      span{
        position: absolute;
        margin-bottom: 0;
        left: 17px;
        top: 50%;
        transform: rotate(45deg);
        &:last-child{
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }
}
// 480

@media (max-width: 340px) {
  .lang {
    font-size: 12px;
  }
  .burger {
    margin-right: 14px;
  }
  .header__top__center a {
    width: 80px;
  }
}
