.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    background-color: #fff;
    display: flex;
    display: none;
    &.active {
        display: flex;
    }
    &__left {
        width: 60%;
        background: #000 url('../img/callback_popup_img.jpeg') 0 0 no-repeat;
        background-size: cover;
        color: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 8rem;
        &__title {
            font-size: 6.4rem;
            font-weight: 300;
        }
    }
    &-logo {
        position: absolute;
        right: 8rem;
        top: 55%;
        transform: translateY(-50%);
    }
    &__right {
        background-color: #212121;
        display: flex;
        align-items: center;
        padding: 4rem 8rem;
        width: 45%;
        position: relative;
        .btn-container {
            display: flex;
            justify-content: flex-end;
            .btn {
                width: 100%;
            }
        }
        form {
            width: 100%;
        }
    }
}
.close-modal {
    position: absolute;
    left: 0;
    top: 8rem;
    transform: translateX(-50%);
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 6px;
    background: #c0c0c0 url('../img/icons/close.svg') center no-repeat;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: darken(#B0192E, 10%);
    }
}