.news-page {
  padding: 5rem 0;
}
.load-new-page {
  margin-top: 5rem;
  .btn-container,
  .paginator-wrapper {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .btn-container {
    .btn {
      transform: translateX(50%);
    }
  }
}
.news-list {
  margin: 0 -1rem;
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
  &__item {
    display: block;
    height: 71rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: var(--border-radius-lg);
    color: #fff;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: var(--border-radius-lg);
      transition: all 0.3s;
      z-index: 1;
    }
    &:hover {
      &::after {
        background-color: rgba(#000, 0.4);
      }
      .read-more {
        opacity: 0.7;
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding: 3rem 5vw 5rem;
      z-index: 2;
      .date {
        position: absolute;
        top: 3rem;
        right: 3rem;
      }
      .h2 {
        margin-bottom: 1em;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 1.5em;
        max-width: 405px;
      }
    }
  }
}
.date {
  background-color: var(--orange);
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  padding: 0.9em;
  border-radius: 10px;
}
.views {
  font-size: 12px;
  display: flex;
  align-items: center;
  .icon {
    flex: none;
    width: 18px;
    height: 12px;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
}
.read-more {
  font-size: 16px;
  transition: all 0.3s;
  &::after {
    content: "";
    width: 15px;
    height: 10px;
    background: url("../img/icons/arrow_rigth_white.svg") 0 0 no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}
