.page-404 {
    padding: 5rem 0 8rem;
    text-align: center;
    &__img {
        max-width: 84rem;
        display: block;
        margin: 0 auto 8rem;
    }
    .h2 {
        margin-bottom: 1em;
    }
    &__form {
        max-width: 810px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        &__submit {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 80px;
            border: none;
            border-radius: 0;
            background: url('../img/icons/search_black.svg') center no-repeat;
            cursor: pointer;
            appearance: none;
            transition: all .3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}