.paginator {
    display: flex;
    flex-wrap: wrap;
    li {
        padding: 0 4px;
        margin-bottom: 8px;
        a {
            display: flex;
            width: 36px;
            height: 36px;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            background-color: #FBFBFB;
            border-radius: 5px;
            &:hover,
            &.active {
                background-color: var(--orange);
                color: #fff;
            }
        }
    }
}