.products-block{
    padding: 9rem 0;
    &__title {
        line-height: 1.2;
        margin-bottom: 1.5em;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -1rem;
        &__item {
            width: 50%;
            display: flex;
            justify-content: space-between;
            &:last-child {
                justify-content: flex-end;
            }
            
            &--lg {
                width: 75%;
                .product-item-wrapper {
                    width: 100%;
                }
                .product-item {
                    min-height: 80rem;
                    justify-content: flex-start;
                    padding: 6.5rem;
                    .product-item__descr {
                        text-align: right;
                    }
                }
            }
            &--lt {
                width: 25%;
                .product-item-wrapper {
                    width: 100%;
                }
            }
            &--column {
                flex-direction: column;
            }
        }
    }
}
.product-item-wrapper {
    width: 50%;
    padding:  0 1rem;
    margin-bottom: 2rem;
}
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 39.5rem;
    height: 100%;
    width: 100%;
    background-color: #F9F9F9;
    border-radius:var(--border-radius-lg);
    text-align: center;
    padding: 3rem 3rem 5rem;
    &:hover {
        box-shadow: 0 15px 20px rgba($color: #000000, $alpha: .14);
        transform: translateY(-3px);
    }
    &--bg {
        background-repeat: no-repeat;
        background-position:  center;
        background-size: cover;
    }
    &--dark {
        color: #fff;
        text-shadow: 1px 1px rgba($color: #000000, $alpha: .5);
    }

    &__img {
        height: 28.3rem;
        margin-bottom: 2em;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }
    }
    &__descr {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1;
    }
}
.products-block__row + .products-block__title {
    margin-top: 5rem;
}