.product-detail {
  padding: 40px 0;
  &__left,
  &__right {
    width: calc(50% - 10px);
  }
  &__left {
    .badge {
        display: none;
    }
    .product-detail__title {
        display: none;
    }
  }
  &__right {
    & > .badge {
      margin-bottom: 3.4rem;
    }
    .product-detail__title {
      line-height: 1.3;
      margin-bottom: 3rem;
    }
  }
}
.product-detail__main-slider,
.product-detail__preview-slider {
  margin-bottom: 10px;
  .slick-track {
    display: flex;
  }
}
.product-detail__main-slide {
  background-color: var(--light-grey);
  border-radius: var(--border-radius-lg);
  padding: 2rem;
  text-align: center;
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  max-height: 50rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.product-detail__preview-slider {
  .slick-list {
    padding-bottom: 30px;
  }
}
.product-detail__preview-slide {
  border-radius: var(--border-radius-medium);
  margin: 0 7px;
  background-color: var(--light-grey);
  height: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 8.7rem;
  padding: 1rem;
  cursor: pointer;
  &::after {
    content: "";
    width: calc(100% - 7px);
    height: 1px;
    background-color: var(--light-grey);
    position: absolute;
    top: calc(100% + 15px);
    left: 7px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &.slick-current {
    &::after {
      background-color: var(--orange);
    }
  }
}
.product-detail__content__right__features {
  border: 1px dashed var(--orange);
  border-radius: var(--border-radius-lg);
  padding: 3rem;
  width: 31rem;
  li {
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 155%;
    text-align: center;
    &:not(:last-child) {
      border-bottom: 1px dashed var(--orange);
    }
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
  }
}
.product-detail__content__left {
    flex-grow: 1;
    padding-right: 5rem;
    .available-options {
        .checkbox label {
            font-size: 2rem;
        }
    }
}
.product-detail__content__price {
    .text {
        margin-bottom: 0.5em;
    }
}
.product-detail__content__price__body {
    margin-bottom: 5rem;
    .counter {
        margin-right: 3.6rem;
    }
    .counter__btn,
    .counter__input {
        width: 43px;
        height: 43px;
    }
    .counter__input {
        font-size: 20px;
    }
}
.current-price,
.old-price {
    white-space: nowrap;
}