.product-list {
  margin: 0 -1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  & > li {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
  &__item {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::before {
      content: "";
      width: calc(100% + 3rem);
      height: calc(100% + 9.5em);
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
      background-color: #fff;
      border-radius: var(--border-radius-lg);
      position: absolute;
      font-size: 1.4rem;
      top: -1.5rem;
      left: -1.5rem;
      opacity: 0;
      z-index: -1;
    }
    &:hover {
      z-index: 3;
      &::before {
        opacity: 1;
      }
      .product-list__item__descr {
        visibility: visible;
        opacity: 1;
      }
    }
    &__main {
      display: block;
      padding: 5rem;
      border-radius: var(--border-radius-lg);
      background-color: var(--light-grey);
      text-align: center;
      margin-bottom: 2rem;
      &:hover {
        color: var(--red);
      }
      & > span:not(.product-list__item__main__title) {
        display: block;
      }
      &__img {
        height: 28.2rem;
        margin-bottom: 3rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &__title {
        line-height: 1.5;
        height: 4.5em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &__descr {
      margin-top: 2rem;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      line-height: 1.5;
      height: 4.5em;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
    }
  }
}
.available-options {
  margin-bottom: 3rem;
  flex-grow: 1;
  &__title {
    margin-bottom: 12px;
    margin-top: 0.8em;
    white-space: nowrap;
    margin-right: 1em;
  }
  &__list {
    li {
      &:not(:last-child) {
        margin-right: 0.8em;
      }
    }
  }
}
.old-price {
  color: #c1c1c1;
  text-decoration: line-through;
  margin-left: 1em;
}
.add-to-cart {
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  &:hover {
    .add-to-cart__icon {
      background: var(--red);
      border: 1px solid var(--red);
      &::before {
        opacity: 1;
      }
    }
  }
  &__icon {
    flex: none;
    width: 3.3125em;
    height: 3.3125em;
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #c1c1c1;
    background: url("../img/icons/cart_black.svg") center no-repeat;
    position: relative;
    margin-left: 1em;
    transition: background-color 0.3s;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: url("../img/icons/cart_white.svg") center no-repeat;
      opacity: 0;
    }
  }
}
.added {
    height: 55px;
  .add-to-cart__icon {
    width: 1.0714em;
    height: 1.2142em;
    border: none;
    background: none;
    &::before {
      opacity: 1;
      background-size: contain;
    }
  }
}
