.related-slider-wrapper {
    position: relative;
}
.related-slider {
    margin-top: -3rem;
    .slick-list {
        padding: 7rem 0 13rem;
    }
}
.related-slide {
    margin: 0 30px;
    .product-list__item::before {
        height: calc(100% + 3.5em);
    }
}
.related-slider__arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 3rem;
    left: 0;
    &::before {
        content: '';
        flex-grow: 1;
        height: 1px;
        border-bottom: var(--border);
        margin-right: 2vw;
        z-index: -1;
    }
    .slick-arrow {
        width: 36px;
        height: 36px;
        flex: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-grey);
        user-select: none;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 5px;
        }
        &:hover {
            color: #fff;
            background-color: var(--orange);
        }
    }
} 