.sale-block {
  padding: 4rem 0 0;
  &__img {
    position: relative;
    width: 50%;
    img {
      position: absolute;
      width: 95rem;
      height: 100%;
      left: 0;
      top: 0;
      max-width: none;
      object-fit: cover;
      object-position: top;
    }
  }
  &__left {
    width: 50%;
    &__title {
      margin-bottom: 1.7em;
      &__icon {
        display: inline-block;
        width: 0.7em;
        height: 0.53em;
        transform: translateY(50%);
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    &__descr {
      padding: 11rem 0 8rem;
      background-color:var(--grey-bg);
      position: relative;
      &::before {
        content: '';
        width: 1000px;
        height: 100%;
        position: absolute;
        right: 99%;
        top: 0;
        background-color: var(--grey-bg);
        z-index: -1;
      }
      &__title {
        max-width: 350px;
        margin-bottom: 2em;
        line-height: 140%;
      }
      p {
        max-width: 400px;
        margin-bottom: 4rem;
      }
    }
    .sale-block__img {
      display: none;
    }
  }
}
