.select {
    display: block;
    max-width: 185px;
    width: 100%;
    position: relative;
}

.new-select {
    position: relative;
    width: 185px;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #FBFBFB;
    color: #878787;
    font-size: 14px;
    padding-left: 1em;
    padding-right: 60px;
    cursor: pointer;
    user-select: none;
}

.new-select__list {
    position: absolute;
    top: 100%;
    left: 0;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
    z-index: 5;
    background: #fff;
    border-radius: 10px;
    font-size: 14px;
    user-select: none;
}

.new-select__list.active {
    display: block;
}

.new-select__item span {
    display: block;
    padding: .5em  1em;
}

.new-select__item span:hover {
    color: var(--red);
}

.new-select:after {
    content: '';
    display: block;
    width: 55px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    background: #B0192E url('../img/icons/select-arrow.svg') no-repeat center;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}