.tab-container {
  margin-bottom: 5rem;
  border: 1px dashed #E9E9E9;
  border-radius: var(--border-radius-lg);
  padding: 1.6rem;
}
.tab-content {
  p {
    font-weight: 300;
    margin-bottom: 1em;
    a {
      color: var(--red);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  ol:not([class]),
  ul:not([class]) {
    margin: 30px 0;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    padding-left: 2em;
    li {
      margin-bottom: .5em;
    }
  }
}
.tab-list {
  border-radius: var(--border-radius-medium);
  background-color: var(--light-grey);
  display: flex;
  margin-bottom: 5rem;
  li {
    font-size: 14px;
    padding: 2em;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: var(--orange);
    }
    &.active {
      span {
        &::after {
          opacity: 1;
        }
      }
    }
    span {
      position: relative;
      display: block;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--orange);
        position: absolute;
        top: calc(100% + (2em - 1px));
        left: 0;
        opacity: 0;
        transition: all 0.3s;
      }
    }
  }
}
.tab-content {
  display: none;
  &.active {
    display: block;
  }
}
